body{
    background-image: url(./media/IN-en-20220926-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    box-sizing: border-box;
    /* height: 100vh;
    width: 100vw; */
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-shadow: 7px -4px 33px 38px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px -4px 33px 38px rgba(0,0,0,0.75);
-moz-box-shadow: 7px -4px 33px 38px rgba(0,0,0,0.75);
}
.nav{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    box-sizing: border-box;
}
.logo_img{
    width: 140px;
}


 .logo{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   width: 130px;
   margin-left: 23px;
   margin-bottom: 20px;

 }
.btns{
    width: 80%;
    display: flex;
    justify-content: flex-end  ;
    align-items: flex-end;


}
#eng_btn{
    height: 40px;
    display: flex;
    width: 110px;
    text-decoration: none;
    background-color: transparent;
    /* outline: 1px white bold; */
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    border: white 2px solid;
}
#eng_btn English{
    text-decoration: none;
    color: white;
}
#sign_btn{
    height: 40px;
    width: 90px;
    background-color: red;
    border: 1px;
    outline: none;
    color: white;
    
}
.main{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
.main_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
}
.first_line{
    font-size: 50px;
    color: white;
    font-weight: 600;
}
.scnd_line{
    font-size: 20px;
    color: white;
}
.third_line{
    font-size: 15px;
    color: white;
}
.mail_btn{
    height: 50px;
    width: 460px;
}
.gs_btn{
    width: 200px;
    height: 54px;
    background-color: red;
    color: white;
    outline: none;

}
.btn_cont{
    padding: 100x 0px;
    display: flex;
}